@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit; }
body{
   background-image:url(./photo-1609602644879-dd158c2b56b4.jpg) ;
   font-family: 'Rock Salt', cursive;
}    
.container {
width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
    
}   
.cajita1 {
    align-items: center;
    justify-content: center;
    margin: -8px;
}
header {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(235, 82, 73, .7), rgba(0, 0, 0, .7)), url(./reci.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    
}
.menubot {
    display: none;
    width: 100%;
  }
  .bt-menu a {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-weight: 100;
    padding: 20px 5px;
    text-decoration: none;
    background: linear-gradient( rgba(235, 82, 73, .7), rgba(0, 0, 0, .7));
    width: 100%;
    display: inline-block;
    text-align: center;
  }
h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    align-self: center;
   justify-self: center;
  font-size: 100px;
}
.navegacion ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion a {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-weight: 100;
    padding: 20px 5px;
    letter-spacing: 2px;
    text-decoration: none;
    background: linear-gradient( rgba(235, 82, 73, .7), rgba(0, 0, 0, .7));
    
    width: 100%;
    display: inline-block;
    text-align: center;
}
.navegacion li {
    flex: 3; 
}
.texto {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;

}

.texto p {
    font-size: calc(0.5em + 1vw);
    line-height: 2em;
    padding: 3em;
    margin: 3em;
    color: #f4f4f4

}
.imagen {
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
}
.tama {
    width: 100%;
}
footer {
    color: #f4f4f4;
    
}
@media (max-width:768px) {
    .header {
        display: block;
    }
    header h1 {
        text-align: center;
        font-size: 30px;
        background-color: black; 
    } 
    .menubot {
		display: block;
		
		
	}
 
	.menubot .bt-menu {
		display: flex;
		padding: 15px 5px;
		background: linear-gradient( rgba(235, 82, 73, .7), rgba(0, 0, 0, .7));background-color: black;
		text-decoration: none;
		color: #f4f4f4;
		box-sizing: border-box;
	}

	.menubot span {
		
		font-size: 30px;
	}
    .menubot a {
        justify-content: left;
        align-items: center;
    }
    .navegacion ul {
        display: block;
        }
    .navegacion a  {
        text-align: center;
    }
    h1 {
        text-align:center;
        font-size: 30px;
        
        }
    .texto{ 
        font-size: 20px;
        text-align: justify;
        margin: 0;
        padding: 0;
    }
    .imagen {
        grid-template-columns: 1fr;
        margin: 0;
    }
}    