@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

body {
background-image: url(./alex-brisbey-KGQhWwB0tDg-unsplash.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto;
font-family: 'Rock Salt', cursive;
}

.container {
width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}


.cajita1 {
align-items: center;
justify-content: center;
width: 100%;
} 

header {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(235, 82, 73, .7), rgba(0, 0, 0, .7)), url(./reci.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  align-self: center;
  width: 100%;
}

.menubot {
    display: none;
    width: 100%;
}
.bt-menu a {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-weight: 100;
    padding: 20px 5px;
    text-decoration: none;
    background: linear-gradient( rgba(235, 82, 73, .7), rgba(0, 0, 0, .7));
    width: 100%;
    display: inline-block;
    text-align: center;
}
header h1 {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 100px;
}  

.navegacion {
    width: 100%
}
.navegacion ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navegacion a {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-weight: 100;
    padding: 20px 5px;
    text-decoration: none;
    background: linear-gradient( rgba(235, 82, 73, .7), rgba(0, 0, 0, .7));
    
    width: 100%;
    display: inline-block;
    text-align: center;
}
.navegacion li {
    flex: 4;
    width: 100%; 
}

.entrada {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}
.titulo {
    align-self: flex-start;
}

.titulo h1 {
text-align: left;
color: #f4f4f4;
line-height: 2em;
padding: 2em;
margin: 2em; 
}





.entradi1 {
    
    align-self:center;
    flex-direction: column;
    text-align: center;
    width: 175px;
    height: 100px;
    background: rgb(179, 171, 171);
    box-sizing: border-box;
    margin: 15;
    padding: 5;
}
.entradi2 {
    
    flex-direction: column;
    text-align: center;
    padding: 5;
    width: 175px;
    height: 100px;
    background: rgb(179, 171, 171);
    box-sizing: border-box;
    margin: 15;
}
.pics {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

}
.pics img {
    width: 100%;
    margin: 0;
}
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    color: #fff;
    box-sizing: border-box;
    margin: 20;
    padding: 20;

  
}
.contacto h2 {
    
   width: 100%; 
    color: #838080;
    text-align: center;
}

.social  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 50%;
    color: #fff;
    box-sizing: border-box;
    
    
}
span {
    width: 75px;
    max-height: 50px;
    font-size: 30px;
}


.formu {
    
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: rgb(68, 67, 67);
    width: 340px;
    height: 420px;
    box-sizing: border-box;
    padding: 70px 30px;
    margin: 100px;
}
.formu label {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-self: center;
    color: #f4f4f4;
  }
  
.formu input {
    width: 100%;
    height: 40px;
    color: #f4f4f4;
    font-size: 14px;
    justify-content: center;
    align-self: center;
    
  }
  
.formu input,
textarea {
    display: block;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(207, 195, 195);
}
  

  
.formu textarea {
    vertical-align: top;
    height: 5em;
}
  
.formu button {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    border: 1px solid rgb(207, 195, 195);
    margin: 10;

}
  
footer {
    color: #f4f4f4;
}
@media (max-width:768px) {
    header {
        display: block;
    }    
     
    header h1 {
        text-align: center;
        font-size: 30px;
        background-color: black; 
    }
    .menubot {
		display: block;
		
		
	}
 
	.menubot .bt-menu {
		display: flex;
		padding: 15px 5px;
		background: linear-gradient( rgba(235, 82, 73, .7), rgba(0, 0, 0, .7));background-color: black;
		text-decoration: none;
		color: #f4f4f4;
		box-sizing: border-box;
	}

	.menubot span {
		
		font-size: 30px;
	}
    .menubot a {
        justify-content: left;
        align-items: center;
    }
    
    .navegacion ul {
        display: block;
        }
    .navegacion a  {
        text-align: center;
        
    }
    
    .entrada {
        display: block;
    }
    .entrada h1 {
        
        font-size: 20px;
        text-align: left;
    }    
    .entradi1 .entradi2  {
     align-self: center;
    }   
        
    
    

    .pics {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .contacto {
        display: block;
        margin: 0;
    }
    .contacto h1 {
        text-align: center;
        margin: 0;
    }
    .social {
        align-self: center;
        margin: 0;
        
        
    }
    .formu {
        display: block;
        margin: 0;
        
        
      }  
  } footer {
      text-align: left;
      font-size: 10px;
  }