@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit; }
body{
background-image:url(./photo-1609602644879-dd158c2b56b4.jpg) ;
font-family: 'Rock Salt', cursive;
}    
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}    
header {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(235, 82, 73, .7), rgba(0, 0, 0, .7)), url(./reci.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
}
h1 {
    
    font-family: 'Rock Salt', cursive;
}
.navegacion ul {
   display: inline-flex;
   flex-direction: row;
    list-style: none;
    

}

a {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: black;
    padding: 20px 5px;
    justify-self: space-between;
    width: 100%;
    
}
.navegacion li {
     }
.formu {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
    align-self: center;
    flex-direction: column;
      
    }
    
  .formu h3 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 22px;
     
    }
    
  .formu label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      
    }
    
  .formu input {
      width: 100%;
      margin-bottom: 20px;
      
    }
    
  .formu input[type="text"], .formu input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }
    
  .formu input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b80f22;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }
    
  .formu input[type="submit"]:hover {
      cursor: pointer;
      
      
    }
    
  .formu a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }
    
  .formu a:hover {
      color: #fff;
    }
  .sign {
    display: inline-flex;
  }  
footer {
        color: #f4f4f4;
        text-align: left;
  }
    @media (max-width:768px) {
        h1 {
            text-align:unset;
        }
        .navegacion ul {
            display: block;
        }
        .pics {
            grid-template-columns: 1fr;
        }
        .formu {
            display: block;
        }
    }